
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
<br/>
  <div class="form-inputs booyah-box col-6 offset-3">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <br/>
      <div class="form-actions">
    <%= f.button :submit, "Reset Password", class: 'btn btn-primary' %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
<br/>                
  </div>